yamllint==1.19.0
apache-libcloud==2.2.1
ansible==5.10.0
ansible-lint==5.4.0
tox==3.11.1
dopy==0.3.7
ansible-lint==5.4.0
molecule==3.0.6
molecule-vagrant==0.3
testinfra==5.2.2
python-vagrant==0.5.15
ara[server]==1.5.7
pre-commit==2.20.0
configparser>=3.3.0
ruamel.yaml>=0.15.88
ipaddress
jmespath>=1.0.1
yq==3.1.1
docker==6.0.1
requests==2.26.0